/* https://chinese-colors.heyfe.org/ */

html:not(.dark) {
  .hljs {
    background-color: #f8f8f8;
  }
}
.article {
  .hljs {
    background-color: #0e0e0e;
    width: 100%;
    border-radius: 0.3rem;
    font-family: 'Fira Code', 'DM Mono', 'Input Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5rem 0.2rem;
    color: #e46828;
    .hljs-keyword {
      color: #497568;
    }
    .hljs-string {
      color: #d6a01d;
    }
    .hljs-title {
      color: #41ae3c;
    }
    .hljs-comment {
      color: #867e76;
    }
  }
}
