/* https://chinese-colors.heyfe.org/ */

.article {
  .hljs {
    background-color: #0e0e0e;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    font-family: DM Mono,Input Mono,Fira Code, monospace;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5rem 0;
    color: #e46828;
    .hljs-keyword {
      color: #497568;
    }
    .hljs-string {
      color: #d6a01d;
    }
    .hljs-title {
      color: #41ae3c;
    }
    .hljs-comment {
      color: #867e76;
    }
  }
}
